<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="home"><img src="../../assets/images/commercial-bank.jpg"
            class="logo-img img-fluid" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active btn-primary" routerLink="loan">Loan-Payment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active btn-primary" routerLink="new-acc">Create-New-Acc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active btn-primary" routerLink="check">Check-balance</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>


<!-- header ends -->

<section>
  
</section>