<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #0A58CA">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Commercial Bank
          </h6>
          <p>
            Commerial Bank of Chennai is an Indian multinational public sector bank and financial services statutory
            body headquartered in Chennai. It is the 43rd largest bank in the world and ranked 221st in the Fortune
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>
          <p>
            <a class="text-white" href="#">Mobile Banking</a>
          </p>
          <p>
            <a class="text-white" href="#">Easy loans</a>
          </p>
          <p>
            <a class="text-white" href="#">Online Banking</a>
          </p>
          <p>
            <a class="text-white" href="#"></a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Useful links
          </h6>
          <p>
            <a class="text-white" href="#">Your Account</a>
          </p>
          <p>
            <a class="text-white" href="#">Customer Services</a>
          </p>
          <p>
            <a class="text-white" href="#">Shipping Rates</a>
          </p>
          <p>
            <a class="text-white" href="#">Help</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <a class="text-white" href="#"><i class="fa fa-envelope-o"> Commercialbank@gmail.com</i></a>
          </p>
          <p>
            <a class="text-white" href="#"><i class="fa fa-phone"> +91 9898456707</i></a>
          </p>
          <p>
            <a class="text-white" href="#"><i class="fa fa-phone"> +044 65678900</i></a>
          </p>
          
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2020 Copyright:
            <a class="text-white" href="#">CommercialBank.com</a>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#" class="text-white" role="button"><i
              class="fa fa-facebook p-3"></i></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#" class="text-white" role="button"><i
              class="fa fa-twitter p-3"></i></a>

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#" class="text-white" role="button"><i
              class="fa fa-google p-3"></i></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#" class="text-white" role="button"><i
              class="fa fa-instagram p-3"></i></a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->